nav {
  height: 38px;
  line-height: 38px;
  border-bottom: 1px solid #eee;
}

#content {
  min-width: 440px;
  max-width:800px;
}
#imgs {}

#imgs header {
  height: 35px;
  line-height: 35px;
}
#imgs header button {
  /*border-radius: 3px;*/
}
#imgs header button:disabled {
  cursor: not-allowed;
}
#imgs header .imgs-count {
  float: right;
}
.img-list {
  display: inline-block;
  list-style: none;
  max-height: 500px;
  overflow: auto;
}
.img-list .img-item {
  box-sizing: border-box;
  position: relative;
  float: left;
  width: 100px;
  height: 100px;
  text-align: center;
  overflow: hidden;
  z-index: 1;
  margin: 5px;
  border-radius: 3px 3px 3px;
  border: 1px solid #d9d9d9;
}
.img-list .img-item .btn-checkbox {
  position: absolute;
  top: 0;
  right: 0;
  width: 20px;
  height: 20px;
  display: none;
}
.img-list .img-item img {
  max-height: 100px;
}
.img-list .img-item footer {
  position: absolute;
  display: flex;
  justify-content: space-between;
  bottom: 0;
  left: 0 ;
  right: 0;
  height: 0px;
  line-height: 20px;
  padding: 0 5px;
  background-color: rgba(0, 0, 0, 0.4);
  color: #eee;
  transition: height 0.5s;
}
.img-list .img-item:hover footer {
  height: 20px;
}
.img-list .img-item .btn-download:hover {
  cursor: pointer;
  /*background-color: #F8F8F8;*/
}

/* 多选状态 */
.checkmore .img-item {
  /*border-color: blue;*/
  border: 2px solid #FFEF8C;
}
.checkmore .img-item .btn-checkbox {
  display: inline-block;
}
.checkmore .img-item .btn-download {
  display: none;
}
